@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

.color-empty {
    fill: #CCD0CF;
  }
  
  .color-scale-1 {
    fill: #4A5C6A;
  }
  
  .color-scale-2 {
    fill: #253745;
  }
  
  .color-scale-3 {
    fill: #11212D;
  }
  
  .color-scale-4 {
    fill: #06141B;
  }

  .react-calendar-heatmap text {
    transform: translateX(-5px);
  } 

  
    #calenderblackbox{
      height: 370px;
    }
    @media  (min-width : 420px){
      #calenderblackbox{
        height: 320px;
      }
    }
    @media (min-width: 1024px) {
      #calenderblackbox {
        height: 430px;
      }
    }

    #calenderblackbox2{
      height: 340px;
    }
    @media  (min-width : 420px){
      #calenderblackbox2{
        height: 340px;
      }
    }
    @media (min-width: 1024px) {
      #calenderblackbox2 {
        height: 430px;
      }
    }
